<model>
  <name>Foo Gripper</name>
  <version>1.0</version>
  <sdf version='1.4'>foogrip.sdf</sdf>

  <author>
    <name>James Starkman</name>
    <email>8@case.edu</email>
  </author>

  <description>
    Simple example of using gripper tags in GZ.  See here for more:
    http://gazebosim.org/tutorials/?tut=simple_gripper
  </description>
</model>
